/*  your css code here. If applicable */
.testimonial {
	padding-top: 20px;
	padding-left: 30px;
}
.main-container {
	width: 1000px;
	height: 600px;
	background-color:  #f5f5f5;
	border-radius: 9px;
}
.para-1 {
	width: 700px;
	height: 100px;
	margin-left: 30px;
	background-color: white;
	padding:20px;
	margin-bottom: 30px;
	border: green;
}
.para-2 {
	width: 700px;
	height: 100px;
	margin-left: 30px;
	background-color: white;
	padding:20px;
}
.author {
	font-style: italic;
	text-align: right;
}